[submodule "pasapipeline.github.io"]
	path = pasapipeline.github.io
	url = https://github.com/PASApipeline/pasapipeline.github.io.git
[submodule "PASApipeline.wiki"]
	path = PASApipeline.wiki
	url = https://github.com/PASApipeline/PASApipeline.wiki.git
[submodule "pasa-plugins/transdecoder"]
	path = pasa-plugins/transdecoder
	url = https://github.com/TransDecoder/TransDecoder.git
