[submodule "pasapipeline.github.io"]
	path = pasapipeline.github.io
	url = https://github.com/PASApipeline/pasapipeline.github.io.git
[submodule "PASApipeline.wiki"]
	path = PASApipeline.wiki
	url = https://github.com/PASApipeline/PASApipeline.wiki.git
